html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

/* --------------- */
/* SEARCH SECTION */
/* --------------- */

.search-section {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image : url("/images/bus-inside-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0px 0px 400px 70px black;
}



.search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.form-icon {
  font-size: 1.5rem;
  margin: auto;
}

.input-group-text{
    background-color: white;
    border-radius: 0%;
    width: 4rem;
}

.form-control{
    border-radius: 0%;
}

.form-control:focus{
    border-color: #ced4da;
    box-shadow: none;
  }

.search-btn{
    border-radius: 0%;
}

.search-btn:hover{
    filter: brightness(85%);
}

@media only screen and (max-width: 600px) {
  .search-section {
    height: 90%;
    box-shadow: inset 0px 0px 200px 10px black;
  }

  .search-form {
    flex-direction: column;
  }

  .search-btn {
    margin: 1rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }
}


/* --------------- */
/* PROMISE SECTION */
/* --------------- */

.promise-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #e3e3e3;
}

.promise-heading{
    padding-bottom: 2rem;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.card {
    padding-top: 2rem;
    letter-spacing: 1px;
}


.card .card-title {
    text-transform: uppercase;
}

.card-icon{
    font-size: 6rem;
    background: linear-gradient(140deg, #139487, #86c6f4);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}


.promise-heading{
    opacity: 0;
} 

.card{
    opacity: 0;
    bottom: -100px;
}


.footer {
  height: 100px;
}