/* --------------- */
/* NAVBAR */
/* --------------- */

.navbar {
    background: linear-gradient(140deg, #139487, #86c6f4);
  }
  
  .nav-container{
      padding: 0%;
  }
  
  .nav-link {
    font-weight: bold;
    
  }
  
  .logout-btn:hover {
    background-color: #fff1ce;
    color: #139487;
  }
  footer {
    background: linear-gradient(140deg, #139487, #86c6f4);
  }
  
.navbar-brand{
	color : white; 
}