html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

/* NAVBAR */
.navbar {
  background: linear-gradient(140deg, #139487, #86c6f4);
}
.nav-container {
  padding: 0%;
}

.logout-btn:hover {
  background-color: #fff1ce;
  color: #139487;
}
.row {
  font-size: 18px;
}
.busFound {
  color: #3e3e52;
}
.result-page {
  padding-top: 15vh;
  padding-left: 4vh;
}
.details {
  /* display: flex; */
  margin-top: 5vh;
  height: 120px;
  width: 100%;
  background-color: #f0f3f5;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 10px;
  /* background-color: #fff1ce; */
}