@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

/* Primary color  */
.bg-bms-primary {
    background-color: #139487;
}

.text-bms-primary{
    color : #139487
}

/* Secondary color  */
.bg-bms-secondary {
    background-color: #FFF1CE;
}

.text-bms-secondary{
    color : #FFF1CE;
}

/* Tertiary color  */
.bg-bms-tertiary {
    background-color: #86C6F4;
}

.text-bms-tertiary{
    color : #86C6F4;
}

/* BMS Yellow color  */
.bg-bms-yellow {
    background-color: #D29D2B;
}

.text-bms-yellow {
    color : #D29D2B;
}